{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset Complete</title>
  <link rel="stylesheet" href="{% static 'css/log.css' %}">
</head>
<body>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="login-container text-center">
      <h2>Password Reset Successful</h2>
      <p>Your password has been updated. You can now login.</p>
      <a href="{% url 'login' %}" class="login-btn">Login</a>
    </div>
  </div>
</body>
</html>
