{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Set New Password</title>
  <link rel="stylesheet" href="{% static 'css/log.css' %}">
</head>
<body>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="login-container">
      <form method="post" class="login-box">
        {% csrf_token %}
        <h2>Set New Password</h2>

        <div class="input-group-custom">
          <i class="fas fa-lock"></i>
          {{ form.new_password1 }}
        </div>

        <div class="input-group-custom">
          <i class="fas fa-lock"></i>
          {{ form.new_password2 }}
        </div>

        <button type="submit" class="login-btn">Change Password</button>
      </form>
    </div>
  </div>
</body>
</html>
